body{
  margin: 0;
}
.navbar{
  border: solid black 1px;
  display: flex;
  justify-content: center;
  width: 70%;
}
.image-container{
position: relative;
z-index: 1;
float: left;
}
.title-container{
  position: relative;
  z-index: 2;
}